<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-security-demo:war exploded">
    <output-path>$PROJECT_DIR$/target/spring-security-demo</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-security-demo" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.0.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.0.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.0.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.0.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.0.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.0.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.0.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.0.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:5.0.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:5.0.3.RELEASE" />
          <element id="file-copy" path="F:/mvn/repository/org/springframework/security/spring-security-web/5.0.2.BUILD-SNAPSHOT/spring-security-web-5.0.2.BUILD-20180129.064735-8.jar" output-file-name="spring-security-web-5.0.2.BUILD-SNAPSHOT.jar" />
          <element id="file-copy" path="F:/mvn/repository/org/springframework/security/spring-security-core/5.0.2.BUILD-SNAPSHOT/spring-security-core-5.0.2.BUILD-20180129.064716-8.jar" output-file-name="spring-security-core-5.0.2.BUILD-SNAPSHOT.jar" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-config:5.0.1.RELEASE" />
          <element id="library" level="project" name="Maven: com.jolbox:bonecp:0.8.0.RELEASE" />
          <element id="library" level="project" name="Maven: com.google.guava:guava:15.0" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.7.2" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:8.0.8-dmr" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/spring-security-demo/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring-security-demo/web/Web" />
    </root>
  </artifact>
</component>